body {
    background-color: #DDDEDC       ;
}


.logo {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 573px;
    height: 138px;
}

.brands {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 41px;

color: #000000;
}

.nike {  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    
    color: #000000;
    
}

.adidas {
   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    
    color: #000000;
}

.new-balance {
 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;

}

.puma {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    
    color: #000000;
}

.sizes {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    
    color: #000000;
    
}

.size7 {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;

}

.size8 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    
    color: #000000;
    
}

.size9 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    
    color: #000000;
    
}

.size10 {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;


}

.size11 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    
    color: #000000;
    
}

.size12 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    
    color: #000000;
}

.size13 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    
    color: #000000;
}

.gender {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 41px;

color: #000000;
}

.male {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    
    color: #000000;
}

.female {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;

}

.price {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 41px;

color: #000000;

}

.under {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;

}
.average {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;
}

.above {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;

}

.dropbtn {
    background-color: #8B7F52;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #E4D6C2;
  }